html{
  font-size: 62.5%;  /* 10px */
}
 
body {
  font-size: 16px;
  font-size: 1.6rem; /* 16px */
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
}
a:active{
  color: black;
}

li {
  list-style: none;
}