html{
  font-size: 62.5%;  /* 10px */
}
 
body {
  font-size: 16px;
  font-size: 1.6rem; /* 16px */
  text-align: center;
  background-color: #cdebe7;
  color: #fff;
  box-sizing:border-box;
}

a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
}
a:active{
  color: black;
}

li {
  list-style: none;
}

img{
  width: 100%;
  max-width: 100%;
}

.ly_inner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 700px;
  /* max-width: calc(100vh - 40px); */
  max-width: 1440px;
  border-radius: 40px;
  height: calc(100vh - 40px);
  position: relative;
}

.mainView_inner_bkgColor{
  background-color: rgb(11, 43, 39);
  /* background-color: #428a92; */
}

.mainViewUnit {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.colLeft {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 40%;
  padding: 60px 0 60px 60px;
}

.mainCol_catch {
  position: absolute;
  top: 50%;
  left: 150px;
  z-index: 2;
  transform: translateY(-50%);
  opacity: 0.7;
}

.mainCol_catch img {
  width: 35%;
}

.colRight {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-basis: 60%;
}
 
 .colRight img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
 
.logo {
  display: block; 
}

.logo .logo_img {
  vertical-align: bottom;
  max-width: 50%;
}

.mainParag {
  font-size: 1.2em;
  font-weight: 900;
}