html{
  font-size: 62.5%;  /* 10px */
}
 
body {
  font-size: 16px;
  font-size: 1.6rem; /* 16px */
  text-align: center;
  background-color: #424242;
  color: #fff;
}

a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
}
a:active{
  color: black;
}

li {
  list-style: none;
}

img{
  width: 100%;
}

.ly_inner{
margin-left: auto;
margin-right: auto;
margin-top: 10px;
/* margin-bottom: auto; */
/* max-width: 1360px; */
max-width: 1200px;
border-radius: 50px;
box-sizing:border-box;
}

.mainView_inner_bkgColor{
  background-color: #428a92;
}

.mainViewUnit {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  height: 95vh;
}

.colLeft {
  text-align: left;
  margin-left: 10px;
}

.logo {
  display: block; 
}

.logo .logo_img {
  vertical-align: bottom;
  width: 200px;
}

.mainParag {
  font-size: 1.1em;
}

.mainCol_catch {
  /* width: 200px; */
  /* margin-left: 200px; */
}

.mainView_slide {
  
}

.colRight {
 align-self: center;
 /* flex-shrink: 0; */
 border-radius: 20px;
 background-color: beige;
 max-width: 800px;
 margin-top: 20px;
 margin-bottom: 20px;
}

.colRight img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.mainColum {
  padding: 5px;
  overflow: hidden;
}
